<div class="col-6 offset-3">
    <br><br>
<h1>Edit my profile</h1>
<br><br>
        <%= form_for(:user, url: user_path(@user), html: {method:'PATCH'} ) do |f| %>

            <div class="form-group">
            <label>Firstname</label>
            <%= text_field(:user, :first_name)%>
        	</div>
        
            <div class="form-group">
            <label>Lastname</label>
            <%= text_field(:user, :last_name)%>
        	</div>


              <div class="form-group">
            <label>Description</label>
            <%= text_field(:user, :description)%>
            </div>

          

            <div class="form-group">
            <button type="submit" class="btn btn-primary" > Envoyer</button> 
            </div>

        <%end%>
</div>


<div class="col-6 offset-3">
<br><br>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar', size: '50x50' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>
</div>