<div class="col-8 offset-2">
    <br><br>
<h1>Edit event</h1> <%=link_to 'Delete Event', event_path(@event), method:'DELETE', class:'btn btn-danger'%>
<br><br>
        <%= form_for(:event, url: event_path(@event), html: {method:'PATCH'} ) do |f| %>

         

  			<div class="form-group">
            <label>Title</label>
            <%= f.text_field :title , class:'form-control'%>
        	</div>

			<div class="form-group">
            <label>Date</label>
              <%= f.text_field :start_date , class:'form-control'%>
        	</div>
            

			<div class="form-group">
            <label>Duration</label>
              <%= f.text_field :duration , class:'form-control'%>
        	</div>

           


            <div class="form-group">
            <label>Description</label><br>
            <%= f.text_area :description , class:'form-control'%>
        	</div>


              <div class="form-group">
            <label>Location</label><br>
            <%= f.text_field :location , class:'form-control'%>
            </div>


 			
			<div class="form-group">
            <label>Location</label><br>
            <%= f.text_field :price , class:'form-control'%>
            </div>
          



            <div class="form-group">
            <button type="submit" class="btn btn-primary" > Modify</button> 
            </div>

        <%end%>
</div>



<div class="col-8 offset-2">
    <br><br>
<h2>Add Illustration</h2> 
<%if @event.illustration.attached?%>
  <%= image_tag @event.illustration, alt: 'illustration', size: '50x50' %>
<%else%>
  <p>=== Il n'y a pas encore d'image lié à cet évènement ===</p>
<%end%>

<h3>Changer d'image ?</h3>
<%= form_tag event_illustrations_path(@event), multipart: true do %>
  <%= file_field_tag :illustration %>
  <%= submit_tag "mettre à jour" %>
<% end %>
</div>
