<div style="border:1px solid #e3e3e3; border-radius:5px; margin-top: 10px; padding:20px" class="col-8 offset-2">
    <br><br>
<h1>Create new event</h1>
<br><br>
        <%= form_for(:event, url: events_path, html: {method:'POST'} ) do |f| %>

            <div class="form-group">
            <label>Title</label>
            <%= f.text_field :title , class:'form-control'%>
        	</div>
        
            <div class="form-group">
            <label>Description</label>
            <%= f.text_field :description , class:'form-control'%>
        	</div>

            <div class="form-group">
            <label>Date</label>
            <%= date_field(:user, :born_on) %> <%= time_field(:task, :started_at) %>
        	</div>
            

              <div class="form-group">
            <label>Duration</label>
            <%= number_field(:duration, :price, in: 30.0..300.0, step: 30) %>
        	</div>

             <div class="form-group">
            <label>Location</label>
            <%= f.text_field :location , class:'form-control'%>
            </div>
            

            <div class="form-group">
            <label>Price</label>
            <%= number_field(:price, :price, in: 1.0..1000.0, step: 1) %>
            </div>

            <div class="form-group">
            <button type="submit" class="btn btn-primary" > Envoyer</button> 
            </div>

        <%end%>
</div>
